@import url(http://fonts.googleapis.com/css?family=EB+Garamond);

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    line-height: 2em;
}

a {
    text-decoration: none;
    color: #000;
    padding-bottom: 4px;
}

.header {
    display: inline-block;
    margin: 80px auto 0 auto;
}

    .header h1 {
        font-weight: 300;
	font-size: 56px;
        margin-bottom: 0px;
	line-height: 1em;
	text-indent: 14px;
        letter-spacing: 14px;
	text-rendering: optimizeSpeed;	/* disable kerning */
	font-variant-ligatures: none;
    }
    
    .header img {
        width: 160px;
        height: 160px;
    }
    
    .header p {
        color: #aab;
    }

.header ul, .footer ul {
    list-style: none;
    list-style-type: none;
    margin: 0 0 0 0;
    padding: 0;
}

    .header ul li, .footer ul li {
        display: inline;
        border-right: 1px solid black;
        padding: 0 10px;
    }

    .header ul li .active, .footer ul li .active {
        font-weight: bolder;
        font-size: 24px;
    }

    .header ul li:last-child, .footer ul li:last-child {
        border-right: none;
    }
    
.contents ul {
    display: inline-block;
    list-style: none;
    margin: 60px 0 0 0;
    padding: 0;
}

    .contents li {
        margin: 0 0 80px 0;
        max-width: 600px;
    }
    
    .contents h2 {
        margin: 0;
    }
    
        .contents h2 i {
            font-weight: normal;
            color: #bbc;
            margin-right: 10px;
        }
    
    .contents .date {
        color: #aab;
        display: inline-block;
        padding: 0 15px;
        position: relative;
        width: 100px;
    	margin: 0;
    }
    
    .contents .date:before,
    .contents .date:after {
        background: #eef;
        content: '';
        display: block;
        height: 1px;
        position: absolute;
        top: 50%;
        width: 150px;
    }
    
    .contents .date:before {
        left: -150px;
    }
    
    .contents .date:after {
        right: -150px;
    }
    
    .contents .blurb {
        font-family: 'EB Garamond', serif;
        font-size: 21px;
        margin-top: 0;
    }


/* post */

.post-header {
    font-size: 20px;
    margin: 0 0 40px 0;
    letter-spacing: 4px;
    text-rendering: optimizeSpeed;	/* disable kerning */
    overflow: hidden;
}

.nav a {
    background-image: url('../logo-black.svg');
    background-size: 40px;
    background-repeat: no-repeat;
    /*position: absolute;*/
    display: inline-block;
    margin:  0;
    line-height: 50px;
    width: 50px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.post {
    display: inline-block;
    text-align: left;
    width: 80%;
    color: #000; /*668;*/
    font-size: 20px;
    padding-bottom: 40px;
    font-family: 'Georgia', 'EB Garamond', serif;
    line-height: 32px;
}

    .post .title {
        margin-bottom: 40px;
    }

    .post h1, .post h2 {
        color: black;
        font-family: 'Raleway', sans-serif;
    }

    .post h1 {
        font-size: 44px;
        line-height: 48px;
        text-align: center;
        margin-bottom: 0;
    }

    .post h2 {
        font-size: 34px;
    	padding: 30px 0 6px 0;
    }

    .post iframe {
        display: block;
        width: 640px;
        height: 360px;
        margin: 50px auto 60px auto;
        box-shadow: 0px 0px 40px 0px rgba(20, 20, 20, 0.7);
    }

    .post a {
	border-bottom: 1px solid #e0e0d0;
	border-radius: 10px;
	padding: 0 4px;
    }

    .post a:hover {
	border-bottom: 1px solid #000;
    }

    .post strong {
	font-weight: normal;
	font-style: italic;
    }

    .post blockquote {
        font-style: italic;
        padding: 15px 20px;
        color: #99a;
    }

    .publish {
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
        color: #bbc;
        text-align: center;
    }

    	.publish .date {
      	    font-size: 18px;
            color: #99a;
    	    margin: 0 2px;
	    }

    .post .strapline {
        font-size: 18px;
        text-align: center;
        font-style: italic;
    }
        
    .post img, .post video {
        max-width: 100%;
        display: block;
        margin: 50px auto 60px auto;
        box-shadow: 0px 0px 40px 0px rgba(20, 20, 20, 0.7);
    }

    .post pre {
        padding: 15px 20px;
        font-size: 13px;
        font-family: 'Consolasa','Monaco','Lucida Console','Courier New';
        line-height: 1.2em;
        overflow-x: auto;
        background: #335;
        color: #fff;
        box-shadow: 0px 0px 40px 0px rgba(20, 20, 20, 0.7);
        margin: 40px 20px;
    }

    .post :not(pre) code {
        background: #eee;
        font-size: 18px;
        padding: 4px;
    }

.banner {
    height: 300px;
    overflow: hidden;
    box-shadow: 0px 0px 40px 0px rgba(20, 20, 20, 0.7);
    position: relative;
    left: -50%; 
    width: 200%; 
}

    .banner img {
      position: absolute; 
      top: 0; 
      left: 0; 
      right: 0; 
      margin: auto; 
      width: 50%;
      min-width: 1000px;
    }

.comments {
    display: inline-block;
    width: 70%;
    margin-top: 40px;
}

.footer {
    width: 100%;
    color: #bbc;
}

    .footer p {
        margin: 5px 0;
    }
    
    .footer div {
        display: inline-block;
    }
    
    .footer ul {
        margin-bottom: 40px;
    }

    .footer h1 {
        font-size: 24px;
        margin: 0 0 0 0;
	text-indent: 6px;
        letter-spacing: 6px;
	text-rendering: optimizeSpeed;	/* disable kerning */
	font-variant-ligatures: none;
    }

        .footer img {
            width: 100px;
            height: 100px;
        }
        
        .footer .copyright {
            font-size: 12px;
            margin-top: 10px;
        }

.links ul {
    list-style: none;
    padding: 0;
}
